 <div class="col-md-3 offset-md-9">
        <h2 >Popular Movies</h2>
         {{# each movies}}
             <img src="{{this}}" class="img-rounded" width="90vh" height="90vh" style="padding: 7px">
         {{/each}}
      </div>

